.home-page {
  background-color: #0D1C22;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.home-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  flex: 1;
}

.home-section {
  border-bottom: 1px solid rgba(192, 177, 147, 0.35);
}


.section-padding {
  padding: 90px 0;
}

@media (max-width: 1440px) {
  .home-container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .section-padding {
    padding: 60px 0;
  }
}