.card-wrapper {
  position: relative;
  width: 670px;
  margin-bottom: 40px;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card {
  width: 100%;
  height: 430px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(192, 177, 147, 0.35);
  position: relative;
  cursor: pointer;
}

.card__thumb {
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.card__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__body {
  padding: 15px 20px;
  position: relative;
  height: 110px;
  transition: background-color 0.2s ease;
}

.card-link:hover .card__body {
  background: rgba(255, 255, 255, 0.1);
}

.card__title {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #C0B193;
}

.card__location {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  margin-top: 8px;

}

.card__like-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 20;
  width: 32px;
  height: 32px;
}

.card__like {
  width: 100%;
  height: 100%;
}