.card {
  width: 670px;
  height: 430px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(192, 177, 147, 0.35);
  margin-bottom: 40px;
  position: relative;
}
.card__thumb {
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.card__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__body {
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
}
.card__title {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.card__location {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  margin-top: 10px;
}
.card__like {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 32px;
  height: 32px;
}
