.layout-catalog {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  margin-top: 90px;
}

.content-catalog {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  width: 670px;
  height: 430px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(192, 177, 147, 0.35);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card__thumb {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card__body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.card__title {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.card__location {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 400;
}

.card__like {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .layout-catalog {
    flex-direction: column;
    gap: 30px;
  }
  .content-catalog {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .layout-catalog {
    padding: 20px 16px;
  }
  .card {
    width: 100%;
    height: auto;
  }
}
