.audience-block {
  position: relative;
  height: 527px;
  margin-bottom: 60px;

  border-bottom: 1px solid rgba(192, 177, 147, 0.35);
}

.audience-title {
  position: absolute;
  top: 90px;
  left: 180px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 56px;
  color: #c0b193;
}

.audience-subtitle {
  position: absolute;
  top: 180px;
  left: 180px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 24px;
  max-width: 1080px;
  color: #c0b193;
}
.audience-text {
  position: absolute;
  top: 229px;
  left: 180px;
  width: 1080px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 24px;
  color: #c0b193;
  line-height: 1.8;
  padding-left: 40px; /* увеличиваем, чтобы точки были видны */
  list-style-position: outside; /* важно, чтобы точки не накладывались на текст */
  list-style-type: disc; /* стандартные точки */
}
.audience-text li {
  margin-bottom: 16px; /* расстояние между пунктами */
}
