.questions-block {
  position: relative;
  height: 400px;
  padding-left: 180px;
  padding-top: 90px;
  box-sizing: border-box;
}

.questions-title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 56px;
  color: #c0b193;
  margin: 0;
}

.questions-description {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 24px;
  color: #c0b193;
  margin-top: 25px;
  max-width: 1080px;
}

.questions-email {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 24px;
  color: #c0b193;
  text-decoration: underline;
  margin-top: 25px;
  cursor: pointer;
}
