.principle-card {
  background: #19272c;
  padding: 20px;
  max-width: 340px;
  box-sizing: border-box;
  position: absolute; /* обязательно для z-index */
  z-index: 2;
}

.principle-card h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 400;
  color: #c0b193;
  margin-bottom: 15px;
}

.principle-card p {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 400;
  color: #c0b193;
  margin: 0;
}
