
body {
  background-color: #0c1b21;
  font-family: 'Playfair Display', serif;
  color: #c0b193;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Общие стили для текста */
.text-primary {
  color: #c0b193;
  font-family: "Playfair Display-Medium", serif;
}

.text-regular {
  color: #c0b193;
  font-family: "Playfair Display-Regular", Helvetica;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #c0b19359;
}